#root {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
body {
  zoom: 0.7;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  font-family: Verdana, sans-serif;
}
p {
  font-size: large;
}
input {
  width: 100%;
  font-size: larger;
  color: #ededed;
  height: 4rem;
  margin: 0px 0px 40px 0px;
  background-color: transparent;
  box-sizing: border-box;
  border: #ccc solid;
}
h1 {
  padding-top: 4rem;
  font-size: xx-large;
}
h2 {
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
input {
  margin-left: 0;
}

.state-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}
.state-card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 10px;
}
.state-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
