#root {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
body {
  /* zoom: 0.9; */
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  font-family: Verdana, sans-serif;
}
p {
  font-size: medium;
}
input {
  width: 100%;
  font-size: large;
  color: #ededed;
  height: 4rem;
  margin: 0px 20px 40px 20px;
  background-color: transparent;
  box-sizing: border-box;
}
h1 {
  padding-top: 4rem;
  font-size: xx-large;
}
h2 {
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.state-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}
.state-card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 10px;
}
.state-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
