#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  zoom: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.state-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1200px;
}

.state-card {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 10px;
}

.state-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
